.App {
  text-align: center;
  background-color: #512f67;
  margin:0;
  color:#CEF09D;
}

.header {
  display:flex;
  align-items: center;
  justify-content: center;
}

a {
  display:flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color:#CEF09D;
}

a:visited {
  color:#CEF09D;
}

h1 {
  margin: 0;
  padding: 10px;
  display: inline-block;
}

.logo {
  width: calc(10px + 6vmin);
  vertical-align: middle;
}

h2 {
  margin: 0;
}

ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}
 
li img {
  width: calc(10px + 10vmin);
  height: calc(10px + 10vmin);
  border-radius: 100%;
  vertical-align: middle;
  padding: 5px;
}

.formatli {
  display: flex;
  align-items: center;
  text-align:center;
}

li {
  background-color: #E05A69;
  border: solid white 2px;
  margin: calc(5px + 1vmin);
  padding: calc(2px + .5vmin);
  width: 100%;
  transition: transform 0.2s;
}

li:hover {
    transform: scale(1.1); /* Increase the size by 10% when hovering */
    cursor: pointer; /* Change cursor to indicate interactivity */
}

.score {

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #38184c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.profile {
  background-color: #38184c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.folder {
  width: 80%;
  background-color: #512f67;
  margin-top: 5vh;
  padding: 2vh;
  border-radius: 10px 10px 0px 0px;
  height: 95vh;
}

.align {
  display: flex;
  align-items: center;
}

.pfp {
  width: calc(10px + 10vmin);
  height: calc(10px + 10vmin);
  border-radius: 100%;
}

h2 {
  display: inline;
  padding: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
